<html>
<link href="css/styles.css" rel="stylesheet">

<br><br><br><br><br>
<div class="subhead"> Great, what are the names of each player?</div>
<br>
<center><form class="center" action="/word" method="post">
	<input type="text" name="p1_name_input">

	<input type="text" name="p2_name_input">
	<p><input type="submit" value="submit"><p>
</form></center>

<center><img src="/../images/hangman.jpg"></center> -->

</html>